<section id="search">
  <p>Search for Posts across the site</p>
  <form>
    <input type="text" class="search-input" id="search-input" placeholder="<%= __('search.search') %>">
  </form>
  <div id="search-result"></div>
  <p class="search-no-result"><%= __('search.no_results') %></p>
  <hr>
  <p>Or Find a Post by Tag</p>
  <div id="tag-cloud">
    <div class="tag-cloud-title">
      <% var visibleTags = 0 %>
      <% site.tags.each(function(tag){ %>
      <% if (tag.length) { %>
      <% visibleTags += 1 %>
      <% } %>
      <% }) %>
      <%- _p('counter.tag_cloud', visibleTags) %>
    </div>
    <div class="tag-cloud-tags">
      <%- tagcloud({min_font: 12, max_font: 30, amount: 300}) %>
    </div>
  </div>
</section>